.page {
  height: 100%;
  overflow: auto;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.grid {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  & > * {
    flex: 1;
  }
}

.commandBar {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
}
